OPENSKY_API_BASE_URL=https://opensky-network.org/api
OPENSKY_LAT_MIN=-24.2
OPENSKY_LON_MIN=-47.2
OPENSKY_LAT_MAX=-22.7
OPENSKY_LON_MAX=-45.5
OPENSKY_REQUEST_TIMEOUT_SECONDS=30
OPENSKY_INTERVAL_SECONDS=60
OPENSKY_MAX_COLLECTIONS=5
BRONZE_BASE_PATH=data/bronze
